# Credenciais da API Aberta de Afiliados da Shopee
# Obtenha em: https://affiliate.shopee.com.br/open_api
SHOPEE_APP_ID=seu_app_id_aqui
SHOPEE_SECRET=seu_app_secret_aqui
SITE_ORIGIN=http://localhost:3000
PORT=3000
